*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.stu{
    width: 100%;
    height: 900px;
    background-color: rgb(50, 17, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: 500px;
    background-color:rgb(79, 25, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    
}
h1{
position: absolute;
top:50px;
right: 110px;
color: white;
font-style:italic;
}
p{
    position: absolute;
    top:100px;
    left: 190px;
    color: white;
}
.stu .container .form input{
    padding: 10px;
    display: flex;
    font-size: 15px;
    width:350px;
    flex-flow:column wrap;
    margin:10px;
    position: relative;
    top:30px;
    
}
.stu .container span{
    color: white;
    
}
a{
    color: lightseagreen;
    text-decoration: none;
}